.navbar {
    width: 40rem;
    max-width: 80%;
    margin: 5rem auto;
}

.navbar .logo {
    max-width: 200px;
    margin-bottom: 1rem;
}

.navbar .navbar__items ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar .navbar__items ul li {
    margin: 0 1rem 0 0;
}