.modal {
    width: 90%;
    background: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.26);
    position: fixed;
    top: 20vh;
    left: 5%;
    z-index: 101;
}

.modal__header {
    padding: 1rem;
    background: var(--primaryColor);
    color: white;
}

.modal__header h1 {
    margin: 0;
    font-size: 1.25rem;
}

.modal__content {
    padding: 1rem;
}

.modal__actions {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}

.modal__actions .btn {
    margin-left: 0.75rem;
    font-size: 0.75rem;
}
.modal__actions .btn--confirm {
    color: darkgreen;
}
.modal__actions .btn--confirm:hover {
    color: green;
    border-color: green;
}

@media (min-width: 768px) {
    .modal {
        width: 30rem;
        left: calc((100% - 30rem) / 2);
    }
}

.modal__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 100;
}