section.section--tiles {
    display: grid;
    grid: auto / 49% 49%;
    grid-gap: 20px;
}
section.section--tiles--thirds {
    display: grid;
    grid: auto / 32% 32% 32%;
    grid-gap: 20px;
}

section.section--tiles .tile {
    border: none;
    -webkit-box-shadow: 0 0 3px rgba(31,30,47,.05);
    box-shadow: 0 0 3px rgba(31,30,47,.05);
    border-radius: 3px;
    background-color: #fff;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    position: relative;
}
section.section--tiles .tile .tile-header {
    flex-direction: row;
    flex: 1 1 auto;
    padding: 1.25rem;
}
section.section--tiles .tile .tile-header .tile-heading {
    text-transform: capitalize;
    letter-spacing: .02em;
    font-size: 15px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
    color: #50649c;
    text-shadow: 0 0 1px rgba(239,242,249,.1);
}
section.section--tiles .tile .tile-header .tile-description {
    line-height: 1.6;
    font-size: 13px;
    opacity: 0.6;
    margin-bottom: 8px;
}

section.section--tiles .tile .tile-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}

section.section--tiles .tile .tile-header + .tile-body {
    padding-top: 0 !important;
}

section.section--tiles .tile .btn--new {
    position: absolute;
    top: 15px;
    right: 20px;
}

@media only screen and (max-width: 991px) {
    section.section--tiles .tile .tile-header {
        flex-direction: column;
    }
}