section.section--tiles {
    display: grid;
    grid: 200px / 49% 49%;
    grid-gap: 20px;
}

section.section--tiles .tile {
    border: none;
    -webkit-box-shadow: 0 0 3px rgba(31,30,47,.05);
    box-shadow: 0 0 3px rgba(31,30,47,.05);
    border-radius: 3px;
    background-color: #fff;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
section.section--tiles .tile .tile-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}
section.section--tiles .tile .tile-heading {
    margin-bottom: 8px;
    text-transform: capitalize;
    letter-spacing: .02em;
    font-size: 15px;
    font-weight: 500;
    margin-top: 0;
    color: #50649c;
    text-shadow: 0 0 1px rgba(239,242,249,.1);
}