/* Variables */
:root {
    --primaryColor: #4d79f6;
    --primaryHoverColor: #3567f5;
    --mainWhite: #fff;
    --offWhite: #F9F9F9;
    --mainBlack: #222;
    --mainGrey: #ececec;
    --darkGrey: #cfcfcf;
    --mainTransition: all 0.3s linear;
    --mainSpacing: 3px;
    --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
    --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

/* Globals */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--mainBlack);
    background: var(--offWhite);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 70px;
    -webkit-font-smoothing: antialiased;
    font-size: 1em;
    line-height: 1.5em;
}

h1 {
    font-weight: normal;
    font-size: 3em;
    line-height: 1;
    margin-bottom: 0.5em;
    letter-spacing: -4px;
}

h2 {
    font-weight: normal;
    font-size: 2em;
    margin-bottom: 0.75em;
    letter-spacing: -3px;
}

h3 {
    font-weight: normal;
    font-size: 1.75em;
    line-height: 1;
    margin-bottom: 1em;
    letter-spacing: -1px;
}
h4 {
    font-size: 1.5em;
    line-height: 1.25;
    margin-bottom: 1.25em;
    letter-spacing: -1px;
}

h5 {
    font-weight: normal;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 1.5em;
    letter-spacing: -1px;
}

h6 {
    font-weight: normal;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 1.5em;
    letter-spacing: -1px;
}

p {
    letter-spacing: -0.25px;
    font-size: 1em;
    line-height: 1.5em;
}
p.description {
    opacity: 0.6;
}


a {
    color: var(--primaryColor);
    text-decoration: none;
    letter-spacing: -0.25px;
}
a:hover {   
    color: var(--primaryHoverColor);
}

/* Buttons */
.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid #CCC;
    padding: .375rem 1.5rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s;
    cursor: pointer;
    transition: all 0.4s ease 0s;
    text-decoration: none;
}
.btn:hover {
    color: var(--mainWhite);
}
.btn:focus,
.btn:active {
    outline: none;
}
.btn-primary {
    color: var(--mainWhite);
    background: var(--primaryColor);
    border: 3px solid var(--primaryColor);
}
.btn-primary:hover {
    background: var(--primaryHoverColor);
    border: 3px solid var(--primaryHoverColor);
}
.btn-rounded {
    border-radius: 30px;
}
.btn-white {
    color: var(--mainBlack);
    background: var(--mainWhite);
    border: 3px solid var(--mainWhite);
    box-shadow: 0px 7px 20px -10px rgba(0,0,0,0.25);
}
.btn-white:hover {
    color: var(--primaryHoverColor);
    background: var(--mainWhite);
}

/* Loading Bar */
.loading {
    text-transform: capitalize;
    text-align: center;
    margin-top: 3rem;
}

/* Error */
.error {
    text-align: center;
    text-transform: uppercase;
    margin: 2rem 0;
}

/* Form Controls */
form .form-control {
    margin-bottom: 1rem;
}

form .form-actions {
    margin: 1.5rem 0;
}

form .form-actions .btn {
    margin-right: 1rem;
}

form .form-control label {
    display: block;
    margin-bottom: .5rem;
    font-size: 90%;
}

form input,
form select,
form textarea {
    display: block;
    margin-bottom: .5rem;
    width: 100%;
    margin: 0;
    padding: 0.5rem;
    outline: none;
    font-size: inherit;
    border-radius: 5px;
    border: solid thin #ccc;
}

img {
    max-width: 100%;
}

/* Page Styles */
.page-wrapper {
    background: #eaf0f7;
    min-height: 50vh;
}
section, .section {
    width: 90%;
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
section .pane--left,
.section .pane--left {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin-right: 50px;
}
section .pane--right,
.section .pane--right {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}
