header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    z-index: 999;
    background: #fff;
    box-shadow: 0 0 3px rgba(31,30,47,.05);
}

.section--navbar {
    display: flex;
}

header .logo {
    max-width: 150px;
    margin-bottom: 1rem;
}

header .navbar__items ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

header .navbar__items ul li {
    margin: 0 1rem 0 0;
}