header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    z-index: 999;
    background: #fff;
    box-shadow: 0 0 3px rgba(31,30,47,.05);
}

.section--navbar {
    display: flex;
    height: 100%;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

header.loggedin .section--navbar {
    width: 100%;
    max-width: 100%;
    padding: 0 15px;
}